.settings
.project
.classpath
.class
target
.DS_Store
trace.log
gmon.out
.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
logs
kart-extension
kart-mainsearch
kart_install
temp
logs
*.iml
.idea/*
.idea
dependency-reduced-pom.xml